@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.panel {
  width: 80vw;
  border-radius: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  flex: 0.5;
  transition: flex 0.5s ease-in;
  position: relative;
}

.panel h3 {
  position: absolute;
  left: 20px;
  bottom: 10px;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.1s ease-in 0.4s;
}
@media screen and (min-width: 550px) {
  .panel:nth-of-type(5) {
    display: none;
  }
}
